*.xcodeproj/xcuserdata
*.xcodeproj/project.xcworkspace/xcuserdata
*.xcworkspace/xcuserdata
*.DS_Store
*.xcworkspace/xcuserdata
*.xcodeproj/xcuserdata
default.profraw
/Users/jiaxiangli/WorkStation/Algorithm_Swift/PalindromeList/PalindromeList.xcodeproj/project.xcworkspace/xcuserdata/jiaxiangli.xcuserdatad/UserInterfaceState.xcuserstate 